### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [68]:
# Use the SN, but one SN may purchase more than one item, therefore use unique
player_columns = ['SN', 'Age', 'Gender']
players_data = purchase_data[player_columns]
unique_players = players_data['SN'].unique()
total_players = len(unique_players)
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
number_unique_items = len(purchase_data['Item ID'].unique())
number_unique_items

183

In [25]:
average_price = purchase_data['Price'].mean()
average_price

3.0509871794871795

In [27]:
number_purchases = purchase_data['Purchase ID'].count()
number_purchases

780

In [28]:
total_revenue = purchase_data['Price'].sum()

2379.77

In [31]:
summary_table = pd.DataFrame({"Number of Unique Items": [number_unique_items],
                              "Total Revenue": [average_price],
                              "Number of Purchases": [number_purchases],
                              "Average Price": [total_revenue]})
summary_table['Total Revenue'] = summary_table['Total Revenue'].map("${:.2f}".format)
summary_table['Average Price'] = summary_table['Average Price'].map("${:.2f}".format)
summary_table

   Number of Unique Items Total Revenue  Number of Purchases Average Price
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
genders = purchase_data['Gender']
genders

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object

In [34]:
genders_counts = genders.value_counts()
genders_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [37]:
genders_percentage = genders_counts / genders.value_counts().sum()
genders_percentage

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [39]:
genders_table = pd.DataFrame({"Percentage of Players": genders_percentage, "Total Count": genders_counts})
genders_table["Percentage of Players"] = genders_table["Percentage of Players"].map("{:.2f}".format)
genders_table

                      Percentage of Players  Total Count
Male                                   0.84          652
Female                                 0.14          113
Other / Non-Disclosed                  0.02           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
purchase_count = purchase_data.groupby("Gender").count()["Purchase ID"]
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [48]:
average_purchase_price = purchase_data.groupby("Gender").mean()["Price"]
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [52]:
total_purchase_value = purchase_data.groupby("Gender").sum()["Price"]
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [50]:
# normalized totals, purchase price per person, result should be the same as using the .mean() on gb
normalized_totals = genders_total_purchase_value / genders_table["Total Count"]
normalized_totals

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [54]:
gender_data = pd.DataFrame({"Purchase Count": purchase_count, 
                            "Average Purchase Price": average_purchase_price,
                            "Total Purchase Value": total_purchase_value,
                            "Normalized Totals": normalized_totals
                           })
gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:.2f}".format)
gender_data["Normalized Totals"] = gender_data["Normalized Totals"].map("${:.2f}".format)
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [72]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

players_demographics = pd.cut(players_data["Age"], age_bins, labels=group_names).value_counts()
percentage_of_players = players_demographics / total_players * 100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": players_demographics})
age_demographics = age_demographics.round(2)
age_demographics.sort_index()

       Percentage of Players  Total Count
<10                     3.99           23
10-14                   4.86           28
15-19                  23.61          136
20-24                  63.37          365
25-29                  17.53          101
30-34                  12.67           73
35-39                   7.12           41
40+                     2.26           13

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

       Percentage of Players  Total Count
<10                     3.99           23
10-14                   4.86           28
15-19                  23.61          136
20-24                  63.37          365
25-29                  17.53          101
30-34                  12.67           73
35-39                   7.12           41
40+                     2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
# Add bins to original
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [78]:
age_purchase_counts = purchase_data.groupby("Age Ranges").count()["Purchase ID"]
age_purchase_counts

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [80]:
age_purchase_price = purchase_data.groupby("Age Ranges").mean()["Price"]
age_purchase_price

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [81]:
age_total_purchase_value = purchase_data.groupby("Age Ranges").sum()["Price"]
age_total_purchase_value

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [83]:
age_normalized_totals = age_total_purchase_value / age_purchase_counts
age_normalized_totals

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [97]:
age_data = pd.DataFrame({"Purchase Count": age_purchase_counts,
                       "Average Purchase Price": age_purchase_price,
                        "Total Purchase Value": age_total_purchase_value,
                        "Normalized Totals": age_normalized_totals})
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:.2f}".format)
age_data["Normalized Totals"] = age_data["Normalized Totals"].map("${:.2f}".format)
age_data.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [102]:
user_purchase_count = purchase_data.groupby("SN").count()["Price"]
user_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [104]:
user_avg_purchase_price = purchase_data.groupby("SN").mean()["Price"]
user_avg_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [105]:
user_total_purchase_value = purchase_data.groupby("SN").sum()["Price"]
user_total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [111]:
user_data = pd.DataFrame({"Purchase Count": user_purchase_count,
                         "Average Purchase Price": user_avg_purchase_price,
                         "Total Purchase Value": user_total_purchase_value})
user_data["Average Purchase Price"] = user_data["Average Purchase Price"].map("${:.2f}".format)
user_data["Total Purchase Value"] = user_data["Total Purchase Value"].map("${:.2f}".format)
user_data.sort_values("Purchase Count", ascending=False).head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
item_data_columns = ["Item ID", "Item Name", "Price"]
item_data = purchase_data[item_data_columns]
item_purchase_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"]
item_purchase_count

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [124]:
item_item_price = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [125]:
item_total_purchase_value = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
item_total_purchase_value

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [128]:
item_data_df = pd.DataFrame({"Purchase Count": item_purchase_count,
                            "Item Price": item_item_price,
                            "Total Purchase Value": item_total_purchase_value})
item_data_df["Item Price"] = item_data_df["Item Price"].map("${:.2f}".format)
item_data_df["Total Purchase Value"] = item_data_df["Total Purchase Value"].map("${:.2f}".format)
item_data_df.sort_values("Purchase Count", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [133]:
item_data_df = pd.DataFrame({"Purchase Count": item_purchase_count,
                            "Item Price": item_item_price,
                            "Total Purchase Value": item_total_purchase_value})
most_profitable = item_data_df.sort_values("Total Purchase Value", ascending=False)
most_profitable["Item Price"] = most_profitable["Item Price"].map("${:.2f}".format)
most_profitable["Total Purchase Value"] = most_profitable["Total Purchase Value"].map("${:.2f}".format)
most_profitable.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80